// Import delle partials

@import 'partials/_variables.scss';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/carousel';
@import 'partials/footer';

body{
    background-color: $background;
}

#avatar{
    width: 15%;
}

button{
    width: 30px;
    height: 25px;
}

a{
    font-size: $font-little;
}

