@import 'partials/_reset.scss';
@import 'partials/_mixins.scss';
@import 'partials/_colors.scss';
@import 'partials/_font.scss';
@import 'partials/_buttons.scss';
@import 'partials/_spacing.scss';

// NAVBAR

nav{
    max-height: 80px;
    background-color: $nav-color;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    img{
        width: 10%;
    }
    .nav:last-of-type{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    li{
        display: inline-block;
        color: $text-color;
        padding: 5px 10px;
        margin: 0 10px;
        text-transform: uppercase;
        font-size: $normal;
        a{
            color: $text-color;
            text-decoration: none;
        }
    }
}

h1{
    @include titleBig(center)
}

#hero-section{
    #headline{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px;
        height: 80%;
    }
    background-color: $bg-hero;
    height: 80vh;
    padding: 50px;
    #img-container{
        background-image: url('../img/violet.jpeg');
        background-size: cover;
        width: 300px;
        max-height: 100%;
    }
    #text-container{
        padding: 40px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        p{
            font-size: $big;
            color: $text-color;
        }
    }
}

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    
    .grid-item{
        width: 300px;
        height: 300px;
        text-align: center;
        img{
            width: 80%;
            text-align: center;
        }
    }
}