#leftNavbar {
  padding: 0;
  margin: 0;
}
#leftNavbar .navbar-brand {
  padding: 0;
  margin: 0;
}
#leftNavbar #more {
  width: 100px;
  color: white;
}
#leftNavbar #moreMenu {
  z-index: 1;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
}
#leftNavbar #moreMenu a {
  color: white;
  text-decoration: none;
}
#leftNavbar #moreMenu a:hover {
  color: rgba(255, 255, 255, 0.5411764706);
}

#navbarNav a, #navbarLeft {
  font-size: 0.8rem;
}

#navbarNav li a:hover, #navbarLeft li a:hover {
  color: rgba(255, 255, 255, 0.5411764706) !important;
}

#navbarLeft img {
  width: 15%;
}

.active {
  font-weight: 700;
}

#userMenu {
  position: relative;
}
#userMenu:hover {
  cursor: pointer;
}
#userMenu #userIcon {
  background-image: url("../assets/img/avatar.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

#dropUser {
  position: absolute;
  top: 55px;
  color: white;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
  padding: 10px;
  z-index: 9;
}
#dropUser a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
#dropUser a:hover {
  color: rgba(255, 255, 255, 0.5411764706);
}

#myDropButton {
  width: 90px;
  height: 25px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

#myDropMenu {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
  position: absolute;
  color: white;
  z-index: 1;
  left: 16px;
  height: 200px;
  width: 350px;
}
#myDropMenu a {
  color: white;
  text-decoration: none;
}
#myDropMenu a:hover {
  text-decoration: underline;
}

.view {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
}
.view i, .view svg {
  color: rgba(255, 255, 255, 0.5411764706);
}

#arrowIcon, #sfogliaIcon, #genresIcon {
  transition: 0.5s ease;
}

.goup {
  transform: rotate(180deg) !important;
}

.carousel img {
  width: 40%;
}

.carousel-inner {
  padding-left: 30px;
  animation: entrance;
}
.carousel-inner img {
  transition: 0.5s ease;
}
.carousel-inner img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .carousel img {
    width: 20%;
  }
  .carousel-inner {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel img {
    width: 16%;
  }
  .carousel-inner {
    padding-left: 0px;
    overflow: visible;
  }
  .carousel-item {
    padding-left: 0;
  }
  .carousel-control-prev {
    transform: translate(-110px, 35px);
  }
  .carousel-control-next {
    transform: translate(80px, 35px);
  }
}
@keyframes entrance {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
#carouselExampleDesktop {
  animation: entrance 1s ease;
}

#carouselExampleDesktop1 {
  animation: entrance 2s ease;
}

#carouselExampleDesktop2 {
  animation: entrance 3s ease;
}

footer i, footer p {
  color: rgba(255, 255, 255, 0.5411764706);
}
footer i:hover, footer p:hover {
  color: white;
  cursor: pointer;
}
footer p {
  font-size: 0.8rem;
  font-weight: 200;
  margin: 10px;
}
footer button {
  color: rgba(255, 255, 255, 0.5411764706);
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
  background-color: transparent;
  width: 130px;
  height: 30px;
  font-size: 0.8rem;
}
footer button:hover {
  color: white;
  border: 1px solid white;
}

#copyright {
  font-size: 0.5rem;
}

@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
  }
}
#profile h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5411764706);
}
#profile img {
  width: 100%;
}
#profile h5 {
  background-color: grey;
  width: 80%;
}
#profile .settings {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5411764706);
}
#profile button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: 1px solid white;
}
#profile #maturity {
  background-color: rgb(84, 84, 84);
}
#profile .myButton {
  color: rgba(255, 255, 255, 0.5411764706);
  border: 1px solid rgba(255, 255, 255, 0.5411764706);
}
#profile label {
  font-size: 0.7rem;
}
#profile button:last-of-type {
  width: 160px;
}

.myborder-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5411764706);
}

body {
  background-color: rgb(26, 26, 26);
}

#avatar {
  width: 15%;
}

button {
  width: 30px;
  height: 25px;
}

a {
  font-size: 0.8rem;
}/*# sourceMappingURL=main.css.map */