/* GENERALS */

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Spectral', serif;
    font-size: 6rem;
    letter-spacing: -3px;
    font-weight: 500;
}

h3{
    font-size: 1.5rem;
}

h4{
    margin-left: 20px;
    font-weight: 500;
}

h5{
    font-size: 1rem;
    margin-bottom: 10px;
}

a{
    color: var(--text);
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
}

/* VARIABLES */

:root{
    --primary: #ffc017;
    --text: #191919;
    --secondary: #1a8917;
}

/* HERO SECTION */

header{
    background-color: var(--primary);
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    border-bottom: 1px solid var(--text);
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--primary);
    z-index: 1;
    transition: background 500ms;
}

#menu{
    display: flex;
    align-items: center;
}

#menu a{
    margin-right: 20px;
}

#started a{
    margin: 0;
    color: white;
    background-color: var(--text);
    padding: 10px;
    border-radius: 25px;
}

#hero-section{
    padding-top: 20px;
    padding-left: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text);
}

#tagline{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 530px;
}

#tagline button{
    width: 190px;
    color: white;
    background-color: var(--text);
    border-radius: 25px;
    border: none;
    font-size: 1.1rem;
    height: 40px;
    font-weight: 300;
}

/* MAIN SECTION */

section{
    padding: 40px;
    border-bottom: 1px solid grey;
}

#trending{
    display: flex;
    align-items: center;
}

#trends{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main-articles{
    display: flex;
    height: 80px;
    width: 360px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.content img{
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.author-container{
    display: flex;
}

.number{
    font-size: 2rem;
    color: lightgrey;
    margin-right: 20px;
}

.author-container{
    display: flex;
    align-items: center;
}

.author{
    font-size: .9rem;
    font-weight: 500;
    margin-left: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
}

.metadata{
    color: grey;
    font-size: .9rem;
    font-weight: 300;
}

/* SECONDA SEZIONE */

#second-section{
    display: flex;
    justify-content: space-between;
}

#more-articles .main-articles{
    height: 130px;
    width: 500px;
}

.summary{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    color: grey;
    font-weight: 300;
}

.main-articles .number-container{
    width: 200px;
    height: 135px;
}

.main-articles .number-container img{
    width: 100%;
}

.metadata{
    display: flex;
    align-items: center;
}

.metadata a{
    background-color: lightgray;
    color: grey;
    font-size: .9rem;
    padding: 5px 8px;
    border-radius: 50px;
    margin-left: 5px;
}

/* ASIDE */

#sticky{
    position: sticky;
    top: 100px;
    right: 0;
}

#discover a{
    color: grey;
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: .8rem;
}

#discover{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 30px;
}

/* FOOTER */

footer{
    padding-top: 30px;
}

footer a{
    color: grey;
    font-size: .8rem;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.scrolled{
    background-color: white;
    transition: background 500ms;
}

 #started .scrolledButton{
    background-color: var(--secondary);
}