@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#flexContainer{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  min-width: 350px;
  align-items: center;
  #mainContainer{
    min-height: 700px;
    border: 2px solid grey;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgb(143, 19, 152) 0%, rgb(14, 78, 146) 49%, rgb(115, 13, 138) 99%);
    background-size: 600% 600%;
    animation: background 10s ease-in-out infinite;
  }
}

@keyframes background{
  0% {
    background-position: 0 80%;
  }

  50%{
    background-position: 100% 20%;
  }

  100%{
    background-position: 0 80%;
  }
}
