<p>reactive works!</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <h1 class="text-center">Reactive Form</h1>

      <form [formGroup]="form">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">

        <label for="alterEgo" class="form-label">alterEgo:</label>
        <input type="text" class="form-control" id="alterEgo" name="alterEgo">

        <label for="power" class="form-label">power:</label>


        <select name="power" id="power" class="form-control">
          <option value="type">capire typescript</option>
          <option value="angular">capire angular</option>
          <option value="react">capire react</option>
        </select>

        <label for="enemy" class="form-label">enemy:</label>
        <input type="text" class="form-control" id="enemy" maxlength="10" name="enemy">

        <label for="planet" class="form-label">planet:</label>
        <input type="text" class="form-control" id="planet" name="planet" minlength="5">

        <label for="weakness" class="form-label">weakness:</label>
        <input type="text" class="form-control" id="weakness" name="weakness">

        <button class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
