// Creazion animazione


    @keyframes animazione{
        from{
            transform: translateY(-50px);
            opacity: 0;
        }
        to{
            transform: translateY(0px);
            opacity: 1;
        }
    }

    @mixin animation($duration: 4s){
        animation: animazione $duration ease-in 2s;
    }