// Creazione dinamica classi per bottoni

$buttonColors: ('blue':#0e6cff, 'orange':#ff8700, 'green':#4caf50);

@each $color in $buttonColors{
    .buttonColor-#{$color}{
        background-color: $color;
        color: $text-color;
        font-size: $normal;
    }
}