// Mixin per title big

@mixin titleBig($align){
    font-size: $very-big;
    color: $text-color;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    text-align: $align;
}

// @mixin floating{
//     border-radius: ;
//     box-shadow: ;
//     border: ;
// }

