// Mixin per title big

@mixin titleBig($align){
    font-size: $very-big;
    color: $text-color;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    text-align: $align;
}

@mixin floating($border: none, $radius: 10px, $shadow: 2px 2px 5px #a5a5a5){
    border-radius: $radius;
    box-shadow: $shadow;
    border: $border;
}

@mixin grid($base: 33%){
    flex-basis: $base;
}
 