@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#completedContainer{
  font-family: 'Poppins', sans-serif;
  h3{
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }

.completedTask{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;

    button{
      background-color: transparent;
      border: none;
      &:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: .7s linear;
      }
      i{
        color: red;
        font-size: 1.8rem;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.spinner-box {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}
