.carousel img{
    width: 40%;
}

.carousel-inner{
    padding-left: 30px;
    animation: entrance;
    img{
        transition: .5s ease;
        &:hover{
        transform:scale(1.5);
        cursor: pointer;
    }
    }
    
}

@media screen and (min-width: 768px){
    .carousel img{
        width: 20%;
    }
    .carousel-inner{
        padding-left: 60px;
    }
}
@media screen and (min-width: 1200px){
    .carousel img{
        width: 16%;
    }
    .carousel-inner{
        padding-left: 0px;
        overflow: visible;
    }
    .carousel-item{
        padding-left: 0;
    }
    .carousel-control-prev{
        transform: translate(-110px, 35px);
    }
    .carousel-control-next{
        transform: translate(80px, 35px);
    }
    
}

@keyframes entrance{
    0%{
        transform: translateY(50px); 
        opacity: 0;
    }
    100%{
        transform: translate(0); 
        opacity: 1;
    }
}

#carouselExampleDesktop{ 
    animation: entrance 1s ease;
}

#carouselExampleDesktop1{
    animation: entrance 2s ease;
}
#carouselExampleDesktop2{
    animation: entrance 3s ease;
}