.carousel img{
    width: 40%;
}

.carousel-inner{
    padding-left: 30px;
}

// .carousel-item{
//     display: flex;
//     justify-content: center;
// }

@media screen and (min-width: 768px){
    .carousel img{
        width: 20%;
    }
    .carousel-inner{
        padding-left: 60px;
    }
}
@media screen and (min-width: 1200px){
    .carousel img{
        width: 16%;
    }
    .carousel-inner{
        padding-left: 0px;
        overflow: visible;
    }
    .carousel-item{
        padding-left: 0;
    }
    .carousel-control-prev{
        transform: translate(-110px, 35px);
    }
    .carousel-control-next{
        transform: translate(80px, 35px);
    }
    
}