footer{
    i,p{
        color: $whiteop;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
    p{
        font-size: $font-little;
        font-weight: 200;
        margin: 10px;
    }
    button{
        color: $whiteop;
        border: $borderop;
        background-color: transparent;
        width: 130px;
        height: 30px;
        font-size: $font-little;
        &:hover{
            color: white;
            border: $border;
        }
    }
}

#copyright{
    font-size: .5rem;
}

@media screen and (max-width: 768px){
    footer p{
        text-align: center;
    }
}
