#leftNavbar{
    @include standardContainer;
    .navbar-brand{
        @include standardContainer;
    }
    #more{
        width: 100px;
        color: white;
        
    }
    #moreMenu{
        // top: 105px;
        // left: 120px;
        z-index: 1;
        background-color: black;
        a{
        color: white;
        text-decoration: none;
        }
    }
}

#navbarNav a, #navbarLeft{
    font-size: $font-little;
}

#navbarLeft img{
    width: 15%;
}

.active{
    @include active;
}

#userMenu{
    position: relative;
    #userIcon{
    background-image: url('../assets/img/avatar.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}
}

#dropUser{
    position: absolute;
    top: 55px;
    color: white;
    background-color: black;
    border: $border;
    padding: 10px;
    z-index: 9;
}

#myDropButton{
    width: 100px;
    height: 25px;
    background-color: black;
    border: $border;
    @include flexCenter;
    font-size: $font-little;
    
}

#myDropMenu{
    background-color: black;
    border: $borderop;
    position: absolute;
    color: white;
    z-index: 1;
    left: 16px;
    height: 200px;
    width: 350px;
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
}
}

.view{
    background-color: transparent;
    border: $borderop;
    i, svg{
        color: $whiteop;
    }
}

